<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JSPExample</display-name>
  <welcome-file-list>
  	<welcome-file>input.jsp</welcome-file>
    <!-- <welcome-file>index.html</welcome-file> -->
  </welcome-file-list>
   
  <servlet>
  	<servlet-name>dummyservlet</servlet-name>
  	<jsp-file>/welcome.jsp</jsp-file>
  	
  	<init-param>
  		<param-name>mysql-driver-class</param-name>
  		<param-value>com.mysql.jdbc.Driver</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>dummyservlet</servlet-name>
  	<url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  
  <error-page>
   <exception-type>java.lang.Exception</exception-type>
   <location>/error.jsp</location>
  </error-page>
   
</web-app>